<!-- Modal -->
<div class="modal fade" id="localizationAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Добавить локализацию</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="text-center m-5">
                    <div class="form-group" >
                        <span class="form-control-lg"><a>Название языка*</a></span>
                        <input id="add_localization_name" class="form-control form-control-lg text-center" type="text" placeholder="Name" required>
                    </div>
                    <div class="form-group" >
                        <span class="form-control-lg"><a>Тег*</a></span>
                        <input id="add_localization_tag" class="form-control form-control-lg text-center" type="text" placeholder="tag" required>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" onclick="addLocalization()">Изменить</button>
            </div>
        </div>
    </div>
</div>
