<!DOCTYPE html>
<html lang="ru">
<head>
    {% block stylesheets %}
        <link href="{{ asset("asset/css/PageNotFoundStyle.css") }}" rel="stylesheet" />
    {% endblock  %}
    <meta charset="UTF-8">
    <title>Pagen Not Found</title>
</head>
<body>
<h1>Oops!</h1>
<p>Что то пошло не так</p>
</body>
</html>