<!DOCTYPE html>
<html lang="ru">
<head>
    <link type="text/css" href="asset/css/PageNotFoundStyle.css" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Pagen Not Found</title>
</head>
<body>
<h1>Oops!</h1>
<p>Что то пошло не так</p>
</body>
</html>