{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <form class="text-center m-5">
                <div class="form-group">
                    <div class="col"></div>
                    <div class="col"></div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}